<!--
buttons.html
DORMKIT V1.0
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>DormKit</h1>

    <!-- Container for both rows -->
    <div id="button_container">
        <!-- First row of buttons -->
        <div id="button_row_1">
            <button id="unlock_button">Unlock Door</button>
            <button id="lock_button">Lock Door</button>
        </div>

        <!-- Second row of buttons -->
        <div id="button_row_2">
            <button id="light_on_button">Light On</button>
            <button id="light_off_button">Light Off</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/buttons.js"></script>
</body>
</html>

